@media (max-width: 1320px){

	.carousel_product_box_link .owl-nav {
		display: none
	}

	.product_box_link .info .full_block > div img {
		margin-left: 10px
	}

}



@media (min-width: 1200px){

	.menu_mobile {
		display: none !important
	}

}



@media (max-width: 1199px){

	.header.open_mobile {
		border-color: #3d357c;
		transition: border-color 0.2s linear
	}

	.header .menu,
	.header .user {
		display: none
	}

	.header .block_menu_1 {
		width: 91%;
		padding: 12px 0
	}

	.header .block_menu_2 {
		background-color: #3d357c;
		text-align: right;
		width: 9%
	}

	.header:after {
		background-color: #3d357c
	}

	.header .search_box {
		display: none
	}

	.header .btn_menu {
		display: block
	}

	footer .g-recaptcha {
		width: 100%
	}

	footer .access_list .newsletter form .submit_block input[type=submit] {
		float: none;
		display: table;
		margin: auto
	}


	.main_head .tags {
		width: 100%;
		white-space: nowrap;
		overflow: auto
	}

	.main_head .breadcrumb + .tags {
		padding-top: 0
	}

	.main_head .tags a:first-child {
		margin: 0
	}

	.main_head .section_info {
		width: 60%
	}

	.main_head .section_tools {
		width: 40%
	}


	table.dataTable thead th.descripcion {
		width: 400px !important;
		min-width: 400px !important
	}


}



@media (max-width: 991px){

	.header .block_menu_1 {
		width: 91%
	}

	.header .block_menu_2 {
		width: 9%
	}

	main {
		padding-top: 74px
	}

	.main_head .section_info .breadcrumb {
		display: none
	}

	.main_head .breadcrumb + .tags {
		padding-top: 15px
	}


	.section_info + .divider {
		padding-top: 20px
	}

	.section_info.mobile {
		display: block
	}

	.fixed_tools {
		right: 25px;
		bottom: 30px
	}

	.fixed_tools .scroll_top {
		display: none !important
	}

	.product_box_link .info .half_block {
		width: 100%;
		padding-left: 0 !important;
		padding-top: 10px;
		padding-bottom: 0;
		min-height: initial;
		min-height: auto
	}

	.product_box_link .info .half_block:first-child {
		padding-top: 15px
	}

	.product_list_carousel .item .title {
		font-size: 13px
	}

	.product_list_carousel .item .id,
	.product_list_carousel .item .description {
		font-size: 12px
	}

	.product_list_carousel .item .btn,
	.product_list_carousel .item a .feature {
		opacity: 1
	}

	#categoria .main_head .section_tools,
	#producto .main_head .section_tools {
		display: none
	}

	#home main,
	#categoria main {
		padding-top: 120px
	}

	.tools_content {
		margin-bottom: 20px
	}

	.tools_content .section_tools {
		width: 100%
	}

	.tools_content .section_tools a {
		display: block;
		margin: 0;
		margin-bottom: 10px
	}

	.tools_content .buy_btn {
		width: 100%;
		text-align: left
	}

	.tools_content .buy_btn a {
		max-width: 100%
	}


	.product_list_carousel .item .checkbox {
		display: none
	}


	.product_banner {
		padding: 0 10px
	}

	.product_banner .info {
		display: none
	}

	.product_banner .image {
		text-align: center
	}

	.product_banner.mobile {
		padding: 0
	}

	.product_banner.mobile,
	.product_banner.mobile .title,
	.product_banner.mobile .text,
	.product_banner.mobile .code {
		display: block
	}

	.product_banner .image {
		width: 100%;
		padding: 0
	}

	.product_banner .image .features {
		display: block;
		width: 100%
	}


	.product_detail_contain h2 {
		font-size: 37px;
		line-height: 38px
	}

	.product_detail_contain h2 + span {
		font-size: 20px;
		line-height: 21px
	}

	.product_detail_contain div.align_right,
	.product_detail_contain div.align_left {
		padding: 0
	}

	.product_detail_contain div.align_right h2,
	.product_detail_contain div.align_right span,
	.product_detail_contain div.align_right p,
	.product_detail_contain div.align_left h2,
	.product_detail_contain div.align_left span,
	.product_detail_contain div.align_left p {
		text-align: left
	}

	#producto .details .container {
		padding: 0 15px
	}

	.product_view {
		margin-bottom: 30px;
		padding: 20px 40px
	}

	.product_view .owl-nav .owl-prev,
	.product_view .owl-nav .owl-next {
		height: 50px
	}

	.product_view .owl-nav .owl-prev {
		left: 0
	}

	.product_view .owl-nav .owl-next {
		right: 0
	}

	body.template main .content,
	#legales main .content {
		padding-left: 15px;
		padding-right: 15px
	}

	#institucional .institucional_info .item {
		width: 50%
	}

	#institucional .text_block > div {
		width: 100% !important
	}

	#institucional .text_block > div + div {
		margin: 0;
		margin-top: 20px
	}



	#contacto .form {
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
		margin-bottom: 40px
	}

	#contacto .form .submit_block .g-recaptcha {
		width: 100%
	}

	#contacto .form .submit_block .btn {
		float: none
	}


	#contacto .content .phone {
		height: 270px
	}

	#contacto .content .phone p {
		font-size: 50px !important;
		line-height:  55px
	}

	#contacto .content .phone span {
		letter-spacing: 11px;
		margin-right: -5px
	}
	


	#comparador table tr th,
	#comparador table tr td {
		min-width: 200px;
		max-width: initial;
		max-width: auto
	}


	
}




@media (max-width: 767px){

	footer .access_list {
		padding: 10px 0
	}

	footer .access_list .column {
		padding: 0 20px;
		padding-top: 20px;
		min-height: initial;
		min-height: auto
	}

	footer .access_list .column:first-child {
		padding-top: 0
	}

	footer .access_list .newsletter {
		border: none
	}

	footer .copyright {
		width: 100%
	}

	footer .copyright small {
		display: block;
		margin-top: 5px
	}

	footer .access_list .newsletter form .submit_block {
		text-align: center
	}

	footer .g-recaptcha {
		transform: scale(0.7)
	}

	.zocalo > div {
		width: 100%;
		text-align: center !important;
		margin: 12px 0
	}

	.main_head .section_info {
		width: 100%
	}

	.breadcrumb {
		margin: 0;
		width: 100%
	}

	.main_head .section_tools {
		width: 100%;
		text-align: left;
		margin-top: 20px;
		margin-bottom: 10px
	}

	.main_head .section_tools {
		margin: 0
	}

	.product_box_link .info .full_block.no_padding {
		padding: 20px 0
	}

	.product_box_link .info .full_block > div {
		width: 100%
	}

	.product_box_link .info .full_block > div .features {
		text-align: left
	}

	.product_box_link .info .full_block > div .features img {
		margin-top: 10px;
		margin-left: 0;
		margin-right: 10px
	}

	.product_box_link .info p.strong.sizefix,
	.product_box_link .info p.strong.sizefix strong,
	.product_box_link .info p.strong,
	.product_box_link .info p.strong strong {
		font-size: 27px;
		line-height: 25px
	}

	.product_box_link .info .full_block p,
	.product_box_link .info .half_block p {
		line-height: 23px;
		font-size: 18px
	}

	.product_box_link .btn.link {
	    max-width: 151px;
	    padding: 7px 0;
		font-size: 13px
	}

	.product_box_link .info .full_block > div .features img {
		max-height: 33px
	}

	.product_box_link .info .features > img {
		border: none;
		padding-left: 0
	}

	.table .section {
		width: 100%;
		padding: 0 !important
	}

	.table .section > div {
		margin-bottom: 20px
	}

	.table .section p {
		width: 100% !important
	}


	.related_links {
		margin-top: 30px;
		margin-bottom: 0
	}

	.related_links .item {
		margin-bottom: 30px
	}

	.related_links p strong {
		font-size: 20px
	}


	.input_group.search input[type="text"] {
		font-size: 20px
	}




	#erorr_404 .content h1 {
		font-size: 50px
	}

	#erorr_404 .content h1 + p {
		font-size: 20px;
		line-height: 24px
	}


	#sin_resultados .content h1 {
		margin-bottom: 20px;
		line-height: 25px;
		font-size: 20px
	}

	#sin_resultados .content h1 + p {
		font-size: 17px;
		line-height: 20px
	}



	.pagination .showing,
	.pagination .pages {
		width: 100%;
		text-align: center
	}

	.pagination .pages {
		padding-top: 10px
	}

	.pagination .pages a {
		margin: 0
	}

	.pagination .pages a.next,
	.pagination .pages a.prev {
		width: 36px;
		padding: 1px 0;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		text-align: center
	}


	.pagination .pages a.next span,
	.pagination .pages a.prev span {
		display: none
	}	


	.pagination .pages a.next span.fa,
	.pagination .pages a.next span.fas,
	.pagination .pages a.next span.far,
	.pagination .pages a.next span.fab,
	.pagination .pages a.prev span.fa,
	.pagination .pages a.prev span.fas,
	.pagination .pages a.prev span.far,
	.pagination .pages a.prev span.fab {
		display: inline-block;
		font-size: 20px;
		padding: 7px 0
	}



	.dataTables_wrapper .dataTables_info {
		font-size: 15px
	}

	.dataTables_wrapper .dtr-details li {
		max-width: initial;
		border-bottom: 1px solid #efefef !important;
		margin-right: 0;
		display: block
	}

	.dataTables_wrapper .dtr-details li:last-child {
		border: none !important
	}




	#resultados h1 {
		font-size: 19px
	}

	#resultados h1 + p {
		font-size: 16px
	}



	#registro .form .fecha > span {
		width: 100%
	}

	#registro .form .fecha .align_inputs {
		width: 100%
	}

	#registro .section_title + p {
		font-size: 19px
	}

	.section_title {
		font-size: 25px
	}

	#registro .section_title + p {
		font-size: 16px;
		line-height: 21px
	}


	body.template .content p,
	#legales .content p {
		font-size: 15px
	}



	.form .g-recaptcha {
		width: 100% !important;
		transform: scale(0.8);
		transform-origin: top left;
		display: inline-block;
		float: none
	}

	.form .submit_block input[type=submit] {
		width: 100%;
		float: none
	}



	#institucional .section_title {
		font-size: 25px
	}

	#institucional .section_text {
		font-size: 17px;
		line-height: 23px
	}

	#institucional .institucional_info .item {
		width: 100%
	}


	
	#contacto .content .phone p {
		font-size: 60px
	}


	.dataTables_wrapper .dataTables_length,
	.dataTables_wrapper .dataTables_filter {
		font-size: 20px
	}

	.dataTables_wrapper .dataTables_filter .input_wrap:before {
		font-size: 18px
	}

	table.dataTable th,
	table.dataTable td {
		min-width: 200px !important
	}
	
}



@media (max-width: 500px){

	footer .access_list .column {
		width: 100%;
		border: none
	}

	.promobox .item {
		width: 100%
	}

	.promobox .item a {
		margin-top: 20px !important
	}

	.promobox .item:first-child a {
		margin-top: 0 !important
	}

}